* {
    margin: 0;
    padding: 0;
}

html, body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    background: url('/code/assets/images/logo_m.jpg') no-repeat center;
    background-size: cover;
}

.loginAndRegBox {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-box {
    height: 60px;
    background: url('/code/assets/images/login_title.png') no-repeat center;
}

.reg-box {
    display: none;
}

.layui-form {
    padding: 0 30px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-form-item .layui-input {
    padding-left: 32px;
}